body { 
    padding-top: 50px; 
}

.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
}

.billetTitle:hover, .billetTitle:focus {
    text-decoration: none;
}

.adminTable {
    margin-top: 20px;
    margin-bottom: 20px;
}

#errorPanel {
    padding-top: 30px;
    padding-bottom: 10px;
}

.panel {

	margin: 10px;
}

#ongletcomment{

    width: 100%;
}

#report,#reply{
    text-align: right;
    margin: 10px;
}

#commentReply{

    margin-left: 1%;
    width: 98%;
}

.level2{
    background-color: #dbd9f7;
}

#compteur{
    float: right;
    margin: 1%;
    margin-left: auto;
    margin-right: auto;
    font: 12px Verdana;
}

#compteur2{
    
    margin: 2%;
    margin-left: auto;
    margin-right: auto;
    font: 12px Verdana;
}

